:root {
    --background: #0C0C0C;
    --background-transparent: #0c0c0cb2;
    --primary-1: #EBEBEB;
    --primary-2: #585858;
    --hub: #63B900;
    --map: #DF3902;
    --accent-1: #00EC6E;
    --accent-2: #DF0257;
    --accent-3: #9747FF;
}

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

/*#region TopNav*/
#navTop {
    display: flex;
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary-1, #EBEBEB);
    background: var(--background-transparent, rgba(12, 12, 12, 0.70));
    backdrop-filter: blur(4px);
}

#navTop #left {
    display: flex;
    align-items: center;
    position: relative;
}

#rotorText {
    color: var(--primary-1, #EBEBEB);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mapText {
    color: var(--map, #DF3902);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hubText {
    color: var(--hub, #3EB900);
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#mapClosed, #hubClosed {
    position: absolute;
    left: 6.55rem;
    top: -0.1rem;
}

#mapOpen, #hubOpen {
    position: absolute;
    left: 6rem;
    top: -0.5rem;
}

#mapClosed {
    display: flex;
    width: 7rem;
    height: 2.75rem;
    justify-content: center;
    align-items: center;
}

#mapClosed svg {
    width: 2.25rem;
    height: 2.25rem;
}

#hubClosed {
    display: flex;
    width: 6.75rem;
    height: 2.75rem;
    justify-content: center;
    align-items: center;
}

#hubClosed svg {
    width: 2.25rem;
    height: 2.25rem;
}

#mapOpen, #hubOpen {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdownOuter {
    display: flex;
    padding: 0.25rem 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.5rem;
    border: 2px solid var(--primary-2, #585858);
    background: var(--background, #0C0C0C);
}

.dropdownTop {
    display: flex;
    padding: 0.125rem 0rem;
    align-items: center;
    align-self: stretch;
    border-bottom: 2px solid var(--primary-2, #585858);
}

.dropdownBottom {
    display: flex;
    padding: 0.125rem 0rem;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
}

#navTop #right {
    display: flex;
    align-items: center;
    gap: 1rem;
}
/*#endregion */

/*#region MapStuff*/
#contentMap {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
/*#endregion*/
